@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Open+Sans:wght@400;600&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.6px;
  font-style: normal;
  color: #303030;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 600;
  font-style: normal;
  line-height: 62px;
  letter-spacing: 0.6px;
  color: #303030;
}

.container__top {
  max-width: 1600px;
  padding: 0 30px;
  margin: 0 auto;
}

.container__bottom {
  max-width: 1160px;
  padding: 0 0 0 30px;
  margin: 0 auto;
}

/* start header */
.header {
  background-image: url(../images/bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 900px;
}

.header__top {
  margin: 26px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top a {
  color: #303030;
}

.brgr__btn {
  display: none;
}

.brgr__btn::before {
  content: url("../images/icons/close.svg");
  width: 15px;
  height: 15px;
  position: absolute;
  z-index: 1;
  display: none;
}

.brgr__list {
  -webkit-transform: translateY(-350%);
      -ms-transform: translateY(-350%);
          transform: translateY(-350%);
  display: none;
  left: 0;
  right: 0;
  top: 0;
  background-color: #282828;
  text-align: center;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  opacity: 0;
}

.brgr__list--active {
  opacity: 100;
}

.brgr__list a {
  color: #fff;
}

.link__logo {
  margin-top: 2px;
  max-width: 120px;
}

.menu {
  margin: 0 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 300px;
}

.menu__list-item + .menu__list-item {
  margin-left: 50px;
}

.menu__tel-link {
  position: absolute;
  right: 32%;
  width: 40px;
}

.tel {
  margin-left: auto;
  margin-right: 98px;
  vertical-align: super;
}

.lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 71px;
}

.lang p {
  font-weight: 500;
}

/* end header */
a,
button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

a {
  color: #303030;
}

/* start footer */
.footer {
  padding: 104px 50px 50px 0;
  background-color: #2C3B49;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 20px;
  color: #fff;
  border-bottom: 2px solid #6B6B6B;
  padding-bottom: 74px;
}

.footer__btn {
  position: absolute;
  background-color: transparent;
  border: none;
  margin-top: -84px;
  margin-left: 40%;
  display: none;
}

.footer__btn-link {
  width: 65px;
  height: 65px;
}

.footer-link__logo {
  max-width: 120px;
  height: 20px;
}

.footer__contact-list li,
.footer__menu-list li {
  font-size: 14px;
  margin: 12px 0;
}

.footer__link {
  height: 26px;
}

.footer__top a {
  color: #fff;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
}

.footer__t-link {
  color: #0085FF !important;
}

.footer__t-link svg {
  margin-right: 15px;
  vertical-align: bottom;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  color: #aaa;
}

.footer__bottom-mail {
  margin-right: auto;
  margin-left: 8%;
  color: #aaa;
}

/* end footer */
.header__stripe {
  position: absolute;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #0085FF;
}

/* start usp */
.header__usp {
  margin-left: 42px;
  padding: 200px 0 63px 0;
}

.header__usp-title {
  max-width: 503px;
  margin-bottom: 55px;
}

.header__usp-text {
  font-size: 18px;
  line-height: 24px;
  max-width: 360px;
  margin-bottom: 75px;
}

.header__usp-btn {
  padding: 20px 58px;
  border: 1px solid #191F28;
  border-radius: 5px;
  color: #303030;
}

/* end usp */
/* start content */
.numbers {
  margin-top: 148px;
  max-width: 504px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #0085FF;
  text-align: center;
}

.numbers p {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 6px;
}

.numbers span {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 20px;
  max-width: 116px;
}

.services {
  background-color: #282828;
  color: #fff;
  text-align: center;
  padding: 130px 0 234px;
}

.services-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  color: #fff;
  margin-bottom: 200px;
}

.services-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-item svg {
  margin-bottom: 54px;
}

.services-item__title {
  font-size: 18px;
  font-weight: 400;
  color: #0085FF;
  max-width: 280px;
  margin: 0 auto 25px;
}

.title__b {
  margin-bottom: 48px;
}

.services-item__text {
  max-width: 270px;
}

.about-service__img {
  right: 0;
  max-width: 660px;
  width: 70%;
  height: 614px;
  position: absolute;
}

.about-service__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 272px;
}

.about-service {
  max-width: 590px;
  margin-top: 130px;
}

.about-service__sub-title {
  font-size: 20px;
  line-height: 26px;
  color: #000;
  position: absolute;
}

.about-service__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  margin-top: 40px;
  color: #0085FF;
  z-index: 0;
}

.about-service__text {
  max-width: 412px;
  margin-bottom: 50px;
}

.about-service__link {
  color: #303030;
}

.about-service__link svg {
  margin: 10px 0 0 12px;
}

.about-us__img {
  left: 0;
  position: absolute;
}

.about-us__wrapper {
  max-width: 460px;
  margin-left: auto;
  padding-top: 62px;
}

.about-wrapper__list {
  font-size: 18px;
  color: #000;
}

.about-wrapper__list-item {
  margin-top: 50px;
  max-width: 446px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-wrapper__list-item + .about-wrapper__list-item {
  margin-top: 20px;
}

.about-wrapper__list-item svg {
  position: absolute;
  margin-top: 4px;
}

.about-wrapper__text {
  margin-left: 26px;
}

.about-price {
  margin: 282px 0 188px;
}

.about-price__title {
  font-size: 36px;
  line-height: 46px;
  font-weight: 400;
  color: #303030;
  margin-bottom: 110px;
}

.about-price__list {
  max-width: 870px;
}

.about-price__list-item {
  border-bottom: 2px solid #c1c1c1;
  margin-top: 36px;
  padding-bottom: 10px;
}

.about-price__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-price__span {
  margin-right: 0;
}

.work {
  background-color: #282828;
  color: #fff;
  padding: 130px 0 216px;
  z-index: 10;
}

.work-title {
  text-align: center;
  font-size: 36px;
  line-height: 46px;
  font-weight: 400;
  margin-bottom: 110px;
}

.work-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1060px;
  margin: 0 auto;
}

.work-items__item {
  display: block;
  text-align: center;
  max-width: 290px;
}

.work-img {
  margin: 0 auto 56px;
}

.work-item__title {
  font-size: 18px;
  font-weight: 400;
  color: #0085FF;
  max-width: 270px;
  margin-bottom: 24px;
}

.work-item__title-b {
  margin-bottom: 46px;
}

.work-item__text-b {
  max-width: 270px;
}

.form {
  margin-bottom: 136px;
}

.form__content {
  max-width: 468px;
}

.form__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;
  margin: 130px 0 46px;
}

.form__text {
  max-width: 240px;
  margin-bottom: 66px;
}

.contact-form__message {
  position: absolute;
  visibility: hidden;
}

.form__input input {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  height: 32px;
  width: 398px;
  border: none;
  border-bottom: 1px solid #9d9d9d;
  color: #9d9d9d;
  padding: 20px 14px 18px 6px;
  margin-bottom: 32px;
}

.form__input input::-webkit-input-placeholder {
  color: #9d9d9d;
}

.form__input input::-moz-placeholder {
  color: #9d9d9d;
}

.form__input input:-ms-input-placeholder {
  color: #9d9d9d;
}

.form__input input::-ms-input-placeholder {
  color: #9d9d9d;
}

.form__input input::placeholder {
  color: #9d9d9d;
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  margin-bottom: 20px;
  color: #9d9d9d;
}

.form__label input {
  height: 15px;
  padding: 0;
  width: auto;
  margin-right: 10px;
}

.form__btn {
  background-color: transparent;
  padding: 20px 24px;
  border: 1px solid #191F28;
  border-radius: 5px;
  color: #303030;
}

.form__img {
  right: 0;
  max-height: 794px;
  height: fit-content;
  margin-top: -656px;
  position: absolute;
  z-index: 0;
}

.form__img-b {
  height: 864px;
  margin-top: -723px;
}

.faq {
  background-color: #282828;
  padding: 130px 50px 160px 0;
}

.faq__title {
  text-align: center;
  color: #fff;
  font-size: 36px;
  line-height: 46px;
  font-weight: 400;
  margin-bottom: 80px;
}

.faq__accordion {
  max-width: 768px;
  margin: -100px 0 0 auto;
  height: auto;
  border-bottom: 2px solid #7f8787;
}

.accordion {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  padding: 108px 0 12px;
}

.accordion-title {
  padding: 32px 0;
  background-color: #282828;
  color: #fff;
  width: auto;
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  cursor: pointer;
  position: relative;
  border-top: 2px solid #7f8787;
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accordion {
  border-width: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

.accordion-title__span {
  margin-right: 32px;
}

.accordion-title__text {
  padding-right: 50px;
}

.accordion-title span {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  line-height: 118px;
  vertical-align: auto;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.accordion-title svg {
  position: absolute;
  right: -32px;
}

.accordion-content {
  font-size: 16px;
  background-color: #282828;
  color: #fff;
  height: 60px;
  margin-top: 4px;
  margin-bottom: -86px;
  max-width: 544px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
  
.content-one--active,
.content-two--active,
.content-three--active,
.content-four--active,
.content-five--active,
.content-six--active {
  margin-bottom: 20px;
  opacity: 100;
  transition: all 0.5s;
}

.svg-one--active,
.svg-two--active,
.svg-three--active,
.svg-four--active,
.svg-five--active,
.svg-six--active {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.svg-one--active circle, .svg-one--active path,
.svg-two--active circle,
.svg-two--active path,
.svg-three--active circle,
.svg-three--active path,
.svg-four--active circle,
.svg-four--active path,
.svg-five--active circle,
.svg-five--active path,
.svg-six--active circle,
.svg-six--active path {
  stroke: #0085FF;
}

.svg-five {
  bottom: 6%;
}

/* end content */
@media (max-width: 1220px) {
  .menu__tel-link {
    right: 316px;
  }
  .tel {
    margin-right: 38px;
  }
  .about-service__wrapper {
    margin-bottom: 100px;
  }
  .about-service__img {
    left: 0;
    margin-left: auto;
    width: 50%;
    height: 600px;
  }
  .about-us__img {
    width: 50%;
    height: 40%;
  }
  .form__img {
    width: 50%;
  }
  .form__img-b {
    height: 864px;
  }
}

@media (max-width: 920px) {
  .container__top {
    padding: 0 20px;
  }
  .header {
    background-image: url(../images/bg__mid.png);
  }
  .header__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 30px;
  }
  .tel-link {
    display: none;
  }
  .tel {
    margin-left: 20px;
  }
  .brgr__btn {
    display: block;
    background-color: transparent;
    border: none;
    position: relative;
    height: 30px;
  }
  .brgr__btn::before {
    display: block;
    margin-left: 26px;
  }
  .brgr__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    position: absolute;
    width: 100%;
    height: 280px;
  }
  .brgr__list--active {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    z-index: 0;
  }
  .brgr__list-item {
    margin-top: 16%;
    font-size: 26px;
  }
  .brgr-tel {
    display: none;
  }
  .link__logo {
    margin-top: 2px;
    margin-left: 42%;
    position: absolute;
  }
  .menu {
    display: none;
  }
  .lang {
    margin-left: auto;
  }
  .services-item {
    padding-right: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 38%;
  }
  .services-item__title,
  .services-item__text {
    max-width: 254px;
  }
  .item__b {
    margin: 424px auto 0;
  }
  .title__b {
    margin-bottom: 25px;
  }
  .about-service__img {
    left: 0;
    margin-left: auto;
    width: 49%;
  }
  .about-service__text {
    max-width: 276px;
  }
  .about-us {
    padding-top: 34px;
  }
  .about-us__img {
    width: 51%;
  }
  .about-us__wrapper {
    margin-left: 50%;
  }
  .about-wrapper__list {
    margin-left: 30px;
  }
  .about-wrapper__text {
    max-width: 298px;
  }
  .about-price__list {
    max-width: 96%;
  }
  .work-item__b {
    margin-top: 440px;
  }
  .form__img {
    width: 36%;
  }
  .accordion-title {
    font-size: 20px;
  }
  .footer {
    padding-right: 20px;
  }
  .footer-link__logo {
    position: absolute;
    margin-top: -46px;
  }
  .footer__link {
    max-width: 190px;
  }
  .footer__bottom {
    padding-top: 30px;
    text-align: center;
  }
  .footer__bottom-text {
    position: relative;
    margin-bottom: 25px;
  }
  .footer__bottom-mail {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 726px) {
  .header {
    background-image: url(../images/bg__small.png);
  }
  .header__usp {
    padding-top: 10%;
  }
  .menu__tel-link {
    display: block;
    right: 50%;
  }
  .brgr__list {
    height: 180px;
  }
  .tel {
    margin-left: 12px;
  }
  .about-price__list-item {
    height: 70px;
  }
  .about-price__text {
    padding-right: 156px;
  }
  .about-price__span {
    position: absolute;
    right: 0;
    margin: 24px 30px 0 0;
  }
  .about-price__item text {
    left: 0;
  }
  .form__content {
    margin: 0 auto;
  }
  .form__text {
    margin: 0 auto 66px;
    width: 260px;
  }
  .form__img {
    display: none;
  }
  .accordion-title {
    font-size: 18px;
  }
  .footer__bottom {
    display: block;
    padding-top: 30px;
  }
  .footer__bottom-rights {
    margin-top: 40px;
  }
}

@media (max-width: 640px) {
  .container__top {
    padding: 0 10px;
  }
  .header {
    min-height: 100vh;
  }
  .header__top {
    margin-bottom: 14px;
  }
  .header__links {
    margin-left: 20px;
  }
  .tel-link {
    display: block;
    margin-right: 16px;
  }
  .menu__tel-link {
    display: none;
  }
  .brgr__list {
    height: 300px;
  }
  .brgr__list-item {
    margin-top: 140px;
  }
  .brgr__list-span {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 88px;
    margin-left: -84px;
  }
  .brgr-tel {
    color: #fff;
    display: block;
  }
  .link__logo {
    margin-left: 38%;
  }
  .tel {
    display: none;
  }
  .header__usp {
    margin: 90px 0 0 20px;
  }
  .header__usp-title {
    font-size: 34px;
  }
  .numbers {
    margin: 120px auto 0;
  }
  .container__bottom {
    padding-left: 0;
  }
  .services {
    padding: 0;
  }
  .services-title {
    margin: 0 0 80px;
    padding-top: 50px;
  }
  .about-service__wrapper {
    display: block;
    margin-bottom: 80px;
  }
  .about-service {
    width: 290px;
    margin: 50px 0 50px 30px;
  }
  .about-service__title {
    padding-top: 52px;
  }
  .about-service__img {
    margin-left: 0;
    position: relative;
    width: 100%;
  }
  .about-us__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    padding-left: 30px;
    padding-top: 0;
  }
  .about-wrapper__list {
    width: 320px;
  }
  .about-us__img {
    width: 100%;
    margin: 360px auto 0;
  }
  .about-price {
    margin: 588px 0 80px;
    padding-left: 10px;
  }
  .about-price__item text {
    max-width: 200px;
  }
  .services {
    padding-bottom: 50px;
  }
  .services-items {
    display: block;
  }
  .services-item {
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 auto 70px;
    width: 360px;
    text-align: center;
  }
  .services-item__text {
    margin: 0 auto;
  }
  .item__b {
    margin: 0 auto 70px;
  }
  .work {
    padding: 60px 0 80px;
  }
  .work-items {
    display: block;
  }
  .work-items__item {
    max-width: 222px;
    margin: 0 auto 70px;
  }
  .work-item__b {
    margin-top: 0;
    margin: 0 auto 70px;
  }
  .form__title {
    margin: 60px 0 46px;
    text-align: center;
  }
  .faq {
    padding: 60px 16px 80px 10px;
  }
  .accordion-title svg {
    width: 44px;
    bottom: 12%;
  }
  .accordion-title circle,
  .accordion-select:checked + .accordion-title circle {
    stroke: transparent;
  }
  .accordion-select:checked + .accordion-title path {
    stroke: transparent;
  }
  .accordion-title {
    display: block;
    font-size: 16px;
    padding: 14px 0 8px 23px;
    text-align: center;
  }
  .accordion-title__text {
    margin-bottom: 12px;
  }
  .accordion-title__span {
    display: inline-block; 
  }
    
  .accordion-content {
    font-size: 13px;
    text-align: center;
  }
  .footer {
    padding: 104px 0 24px;
    padding-right: 0;
  }
  .footer__top {
    padding: 0 0 60px 10px;
  }
  .footer__btn {
    display: block;
  }
  .footer__contact-list li,
  .footer__menu-list li {
    margin: 14px 0;
  }
  .footer__menu-list {
    display: none;
  }
  .footer__link {
    margin-top: 10px;
  }
}

@media (max-width: 470px) {
  .header {
    background-image: url(../images/bg__mob.png);
    background-position: bottom center;
  }
  .header__top {
    margin: 40px 20px 0;
  }
  .tel-link {
    position: absolute;
    margin-left: 110%;
  }
  .brgr__btn::before {
    margin-left: -13px;
  }
  .brgr__list {
    display: block;
    height: 444px;
    font-size: 26px;
  }
  .brgr__list-item {
    margin: 140px 0 0 10px;
    -moz-text-align-last: left;
         text-align-last: left;
  }
  .brgr__list-item + .brgr__list-item {
    margin-top: 50px;
  }
  .brgr__list-span {
    margin-top: 160px;
    margin-left: 0;
  }
  .link__logo {
    position: relative;
    margin-left: auto;
  }
  .lang {
    width: 28px;
  }
  .lang span,
  .lang p {
    display: none;
  }
  .lang__ru {
  
  }
  .header__usp {
    margin-left: 0;
    text-align: center;
  }
  .header__usp-title {
    font-size: 28px;
  }
  .header__usp-text {
    max-width: 300px;
    margin: 0 auto 50px;
  }
  .header__usp-btn {
    background: #fff;
  }
  .numbers {
    display: none;
  }
  .services-item {
    width: auto;
  }
  .services-item__title {
    width: 210px;
    text-align: center;
  }
  .about-price__list-item {
    height: 90px;
  }
  .about-price__title {
    text-align: center;
  }
  .about-price__text {
    padding-right: auto;
  }
  .about-price__span {
    margin-top: 56px;
  }
  .form__title {
    text-align: center;
  }
  .form__text {
    text-align: center;
  }
  .form__input {
    padding: 0 12px;
  }
  .form__input input {
    width: 100%;
    height: 32px;
  }
  .form__label input {
    width: 13px;
    margin-top: -4px;
  }
  .form__btn {
    width: 100%;
  }
  .footer__top {
    margin-top: 50px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__btn {
    left: 0;
    padding-left: 0;
  }
  .footer-link__logo {
    margin-top: 40px;
  }
  .footer__contact-list {
    margin-top: 80px !important;
  }
  .footer__link {
    display: none;
  }
  .footer__t-link {
    position: absolute;
    margin-top: 208px;
    margin-left: -152px;
  }
}
